# Gemini api key, required
export GOOGLE_API_KEY=

# Telegram bot token, required
export TELEGRAM_BOT_TOKEN=

# Optional: langsmith tracing
export LANGSMITH_TRACING=true
export LANGSMITH_ENDPOINT=https://api.smith.langchain.com
export LANGSMITH_PROJECT=ChatFit
export LANGSMITH_API_KEY=your_api_key

# Optional proxy settings
TELEGRAM_PROXY=socks5h://host.docker.internal:8990
LLM_PROXY=socks5://host.docker.internal:8990
